---

---

<html>
    <head>
        <title>My Website</title>

        <style global>
            @import "../styles/global.css";
        </style>
    </head>

    <body>
        <h1>My Website</h1>

        <p>I also have a <a href="/portfolio" >portfolio</a>!</p>
    </body>
</html>