---
import Projects from '../components/Projects.svelte'
---

<html lang="en">
    <head>
        <title>Portfolio</title>

        <style global>
            @import "../styles/global.css";
        </style>
    </head>

    <body>
        <nav>

        </nav>

        <h1>Portfolio</h1>

        <h2>Projects</h2>
        
        <Projects />
    </body>
</html>