---
class Project { 
    title: string;
    giturl?: string;
    description: string;

    constructor(title: string, giturl?: string, description: string) {
        this.title = title;
        this.giturl = giturl;
        this.description = description;
    }
}

const project1 = new Project("This Website", "https://github.com/website", "This is a website for my stuff")
const projects = [project1]
---

{(projects.length == 0) && (
    <p>No projects.</p>
)}

{(projects.length != 0) && (
    projects.map((item) => (
        <>
            <div>
                <h3>{item.title}</h3>
                {item.giturl && (
                    <a href={item.giturl} class="proj-git">Git</a>
                )}
                <p>{item.description}</p>
            </div>
        </>
    ))
)}